body {
    background: #ebebed;
    font-family: 'Open Sans';
}
div.container {
    background: #fff;
    border-radius: 8px;
    margin: 4em auto;
    max-width: 400px;
    padding: 2em;
}
h1 {
    color: #474e54;
    font-size: 24px;
    margin: 0 0 .4em;
}
h2 {
    color: #4f585f;
    font-size: 18px;
}
label {
    color: #919191;
    line-height: 2em;
    padding: 0 0 .4em 0;
}

div.results {
    border-radius: 6px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}